/*google fonts css*/
.righteous-regular {
  font-family: "Righteous", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*eventive logo*/
#title {
  font-family: "Righteous", system-ui;
  font-weight: 300;
  color: red;
  font-size: 28px;
}

#navbar {
  background-color: white !important;
  max-height: 75px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* navbar grid*/
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  grid-area: 1 / 2 / 2 / 4;
}

.div2 form {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

#search-bar {
  background-color: transparent;
  color: white;
  border: 0;
  padding: 0.6em;
}

#search-btn {
  background-color: #cc3f24;
  border: 0;
  padding: 0.6em;
  border-radius: 0 25px 25px 0;
}

#search-bg {
  background-color: #f8f7fa;
  border-radius: 25px;
  border: 2px solid #a9a8b3;
}

#search-bg:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.div4 {
  grid-area: 1 / 5 / 2 / 7;
}

.div4 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.div4 ul li {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.div5 {
  grid-area: 1 / 7 / 2 / 9;
}

.div5 ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.div5 ul li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;
}

.div3 {
  grid-area: 1 / 4 / 2 / 5;
}

.dropbtn {
  background-color: transparent;
  color: #8f8f8f;
  border: none;
  padding: 0.5em;
  font-size: 16px;
}

.dd {
  color: #6b6b6e;
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
}

.dd:hover,
.dd:focus {
  background-color: #f0f0f0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  width: 15em;
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}